@import "../../../../utils/colors.scss"; 
@import "../../../../utils/mixins.scss";


.catalogButton {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    color: $black ;
    padding:10px 0;
    padding-left: 10px;
    border-radius: 2px;


    &:hover{
        color: $second ;
        background-color: $gray;
        >.catalogHoveredElement {
            display: block;
        }
    }

    >p {
        @include text;
        color:$text;
        font-size: 16px;
        line-height: 18px;
        margin-left: 5px;
    }
}

.catalogHoveredElement {
    position: absolute;
    left: 100%;
    top:0;
    width: 250px;
    display: none;
    color: $text;
    box-shadow: 6px 2px 22px 0px rgba(240,225,225,0.75);
    -webkit-box-shadow: 6px 2px 22px 0px rgba(240,225,225,0.75);
    -moz-box-shadow: 6px 2px 22px 0px rgba(240,225,225,0.75);
    background-color: $main;
    border-radius: 2px;
    
    >a {

        &:hover{
            >div{
                color: $second;
                background-color: $gray ;
                >p{
                    color: $second;
                }
            }
        }

        >div{

            display: flex;
            align-items: center;
            padding: 0 10px;
            padding: 10px 0;
            padding-left: 10px;

            >p{
                @include text;
                color:$text;
                font-size: 16px;
                line-height: 18px;
                margin-left: 5px;
            }

        }
    }
}