@import "../../../utils/mixins.scss"; 
@import "../../../utils/colors.scss"; 


.searchContainer {
    display: flex; 
    width: 50%;
    padding: 5px;

    @include breakpoint-down("small"){
        width: 70%;
    }
    
    form{
        width: 90%;
        border:1px solid $border;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
    }
}

.searchInput{
    outline: none;
    border:none ; 
    height: 100%;
    width: 100%;
    padding-left: 10px;
}

.submitButton {
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: $second ;
    color: $main ;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}