@import "../../../utils/mixins.scss";
@import "../../../utils/colors.scss";

.subHeaderContainer {
    display: flex;
    align-items: center;
    border-top: 1px solid $subtext;
    justify-content: space-between;
    align-items: center;
    padding:0 10px;
    padding-top: 10px;
}

.servicesContainer {
    display: flex;
    height: 100%;
    padding-left: 0;
    align-items: center;
    justify-content: center;
    height: 50px;
    
}

.servicesLi {
    // padding: 0;
    list-style-type: none;
    margin-right: 16px;
    height: 100%;
    @include center ;
    transition: ease-in-out 1s ;

    &:hover{
        >a {
            color: $second;
        }
    }
}

.activeLink {
    border-bottom: 2px solid $second;
}



.items {
    color: $black;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}

.subHeaderButton {
    outline: none;
    border: none;
    border-radius: 2px;
    padding: 10px;
    background-color: rgba(255,152,0,0.03);
    color:$second !important;
    border: 1px solid $second;

    // fonts 
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;

    &:hover{
        background-color: $second;
        color:$main !important;
    }
}