@import "../../utils/mixins.scss";
@import "../../utils/colors.scss";

.bannerContainer {
    // padding: 16px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.subContainer {
    width: 95%;
    height: 100%;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
    background-color: $main;
    border-radius: 2px;

    box-shadow: 6px 2px 22px 0px rgba(240,225,225,0.75);
    -webkit-box-shadow: 6px 2px 22px 0px rgba(240,225,225,0.75);
    -moz-box-shadow: 6px 2px 22px 0px rgba(240,225,225,0.75);
}

.textContainer {
    width: 59%;
    height: 100%;
    padding: 16px;
    @include breakpoint-down("small"){
        width: 100%;
    }
}

.imageContainer {
    width:39%;
    padding: 16px;
    @include center;
    @include breakpoint-down("small"){
        display: none;
    }
}

.subTitle{
    @include text;
    font-size: 16px;
    line-height: 18px;
    color: $second;
    margin-bottom: 16px;
}

.title {
    @include text;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: $text;
}

.subTitleSecond {
    @include text;
    font-size: 18px;
    line-height: 24px;
    color: $text;
    margin-bottom: 16px;
    margin-top: 16px;
}

.description {
    @include text;
    // font-size: 16px;
    line-height: 18px;
    color: $text;
    text-align: justify;
}

.buttonsContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0 ; 
    @include breakpoint-down("small"){
        flex-direction: column;
    }
}

.bannerButton {
    @include button ; 
    padding: 16px;
    width: 48%;
    @include center;
    // fonts
    font-weight: 600;
    color: $main !important ;
    font-size: 17px;
    line-height: 20px;
    border-radius: 3px;
    background-color: $second;
    @include breakpoint-down("small"){
        width: 100%;
        &:first-child{
            margin-bottom: 10px;
        }
    }
}

