@import "../../utils/mixins.scss";


.imageContainer {
    width: 100%;
    height: 100%;
    text-align: center;
}

.nextArrow {
    background-color: red;

}

.prevArrow{
    background-color: red;


}
