@import "../../utils/mixins.scss";
@import "../../utils/colors.scss";

.bannerContainer {
    padding: 16px;
}

.imageContainer {
    width: 100%;
    height: 100%;
    text-align: center;
}

.nextArrow {

}

.prevArrow{


}
