@import "../../utils/mixins.scss";
@import "../../utils/colors.scss";


.cardContiner {
    box-shadow: 6px 2px 22px 0px rgba(240,225,225,0.75);
    -webkit-box-shadow: 6px 2px 22px 0px rgba(240,225,225,0.75);
    -moz-box-shadow: 6px 2px 22px 0px rgba(240,225,225,0.75);
    background-color: $main;
    width: 24%;
    border-radius: 2px;
    padding: 16px;

    @include breakpoint-down("small"){
        width: 100%;
        margin-bottom: 10px;
        &:last-child{
            margin-bottom: 0px;
        }
    }

    >svg {
        width: 35px;
        height: 35px;
        fill: $second;
    }

    >p {
        font-size: 15px;
        line-height: 18px;
        font-weight: 400;
    }

    .title{
        font-weight: 600 !important;
    }
}