@import "../../utils/colors.scss";
@import "../../utils/mixins.scss";

.container {
    box-shadow: 6px 2px 22px 0px rgba(240,225,225,0.75);
    -webkit-box-shadow: 6px 2px 22px 0px rgba(240,225,225,0.75);
    -moz-box-shadow: 6px 2px 22px 0px rgba(240,225,225,0.75);
    background-color: $main;
    width: 100%;
    border-radius: 2px;
    padding: 32px 16px;
    @include center ; 
    flex-direction: column;
    position: relative;

    >.priceCon{
        width: 100%;
        padding: 10px;
        background-color: $gray;
        @include center;
        margin-bottom: 16px; 
        border-radius: 2px;

        >p {
            @include text; 
            color:$text; 
            font-size: 15px;
            font-weight: 500;
        }
    }
}

.title {
    @include text;
    color: $text;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    text-align: center;
    margin-top: 24px;
    margin-bottom: 24px;

    &:hover{
        color: $second !important;
    }
}

.description {
    @include text; 
    font-size: 13px;
    color:$text;
    text-align: center;
}

.button {
    text-transform: uppercase;
    color: $main !important;
    @include text; 
    @include center;
    font-weight: 500;
    background-color: $second;
    border-radius: 2px;
    padding: 10px 25px;
    cursor: pointer;
    // margin: 24px 0 16px 0;
    margin-top: 24px;

}

.promotion {
    padding: 3px 8px; 
    background-color: green;
    border-radius: 2px;
    @include text;
    color: $main !important;
    font-weight: 300;
    position: absolute;
    top:-11px; 
    left: 50%;
    transform: translateX(-50%);
    

}