@import "../../utils/colors.scss";
@import "../../utils/mixins.scss";

.papper {
    @include papper ; 
}

.loginContainer  {
    @include center ;
    flex-direction: column ;
    width: 100%;
    height: 100%;
}




.titleCon {
    @include title;
}


.inputContainer {
    display: flex;
    border:1px solid $gray;
    border-radius: 4px;
    margin-bottom: 16px;
    width: 100%;
    @include breakpoint-down("small"){
        width: 100%;
    }

    >.iconContainer {
        @include center;
        height: 100%;
        padding: 9px;
        border-right:1px solid $gray; 

        >svg {
            fill: $infotext;
            width: 20px; 
            height: 20px;
        }
    }

    >input {
        @include button ;
        padding-left: 16px;
        width: 100%;
        &::placeholder {
            @include text; 
            color: $infotext ;
            font-size: 15px;
        }
    }
}


.buttons , .links{
    width: 100%;
    height: 100%;
    padding: 16px 0;
    @include center;
    
    >a , button {
        @include button ;
        @include text; 
        border-radius: 2px;
        background-color: $second;
        text-transform: uppercase;
        padding: 10px 25px;
        color: $main !important; 
        transition: all .7s;
        font-size: 13px;
        font-weight: 500;

        &:hover {
            background-color: $buttonhover;
        }
    }

    >a {
        background-color: $gray !important;
        color: $text !important;
        margin-left: 10px;
        text-transform: none;

        @include breakpoint-down("small"){
            font-size: 12px;
            padding: 10px 10px;
            margin-left: 0px;

        }

        &:hover {
            background-color: $darkgray !important;
        }
    }
}

.links {
    justify-content: flex-end; 
    @include breakpoint-down("small"){
        justify-content: space-around;
    }
}
