@import "../../utils/colors.scss";
@import "../../utils/mixins.scss";

.snackBarSuccess {
    padding: 24px 75px;
    color: $main;
    padding: 16px;
    text-align: center;
    border-radius: 8px;
    position: fixed;
    z-index: 99999;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-between;

    >span {
        margin-left: 13px;
    }


    >div {
        @include center; 
        width: 40px;
        height: 40px;
        margin-left: 16px;
        >svg {
            fill: $main ; 
        }
       
    }
    

   
    @include breakpoint-down("small-medium") {
        font-size: 14px;
        padding: 10px;
        top: 10%;
    }
  }
  