@import "../../../utils/mixins.scss"; 

.menuDrawerButton{
    @include button ;
    padding: 6px 10px;
    border-radius: 2px;
}

.drawer {
    width: 250px;
}

.drawerItemContainer {
    width: 100%;
    text-align: center;
    padding: 24px 10px;

}