@import "../../utils/colors.scss";
@import "../../utils/mixins.scss";

.border {
    border-bottom: 1px solid $gray;
    padding-top: 16px;
    padding-bottom: 16px;
}

.agreementCon {
    display: flex;
    align-items: center;
    width: 100%;

    >p {
        @include text; 
        color: $infotext;

    }
}

.titles {
    @include text;
    color:$text !important; 
    font-weight: 600 !important;
    font-size: 15px !important;
}



