@import "../../utils/colors.scss";
@import "../../utils/mixins.scss";

.border {
    border-bottom: 1px solid $gray;
}

.agreementCon {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: red;

    >p {
        @include text; 
        color: $infotext;

    }
}



