@import "../../utils/colors.scss";
@import "../../utils/mixins.scss";

.blanksContainer {
    width: 100%;
    padding: 16px; 
    @include center ; 
    flex-direction: column ;
}

.blankTitle {
    @include text;
    font-size: 18px;
    line-height: 24px;
    color: $black;
    margin-bottom: 16px;
    margin-top: 20px;
    font-weight: bold;
    letter-spacing: 2px;
}