@import "../../utils/colors.scss";
@import "../../utils/mixins.scss";

.cover {
    width: 100%;
    height: 100%;
    >form {
        display: flex;
        flex-direction: column;
        >.inputContainer {
            width: 100% !important;
        }
    }
}

.titleBorder {
    border-bottom: 1px solid $gray ; 
    padding-left: 0 !important ;
}

.title {
    @include text; 
    color: $text;
    font-weight: 600;
    text-transform: uppercase;
}

.dividerCon {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.inputContainer {
    display: flex;
    border:1px solid $gray;
    border-radius: 4px;
    margin-bottom: 16px;
    width: 49%;

    >.iconContainer {
        @include center;
        height: 100%;
        padding: 9px;
        border-right:1px solid $gray; 

        >svg {
            fill: $infotext;
            width: 20px; 
            height: 20px;
        }
    }

    >input {
        @include button ;
        padding-left: 16px;
        width: 100%;
        &::placeholder {
            @include text; 
            color: $infotext ;
            font-size: 15px;
        }
    }
}