
$main: #fff;
$border: #DADADA ; 
$subtext: #FAFAFA ; 
$second: #ff9800 ; 
$gray: #eee ; 
$black: #000 ; 
$secondGray: #F5F5F5 ; 
$text: #151618 ; 
$infotext: #8f95a0 ; 
$buttonhover: #ff7100; 
$darkgray: #666; 
$green: #8bc34a ; 
$transparentgreen: #8bc34a08 ; 
$error: red; 



