@import "../../utils/colors.scss";
@import "../../utils/mixins.scss";

.cardContainer{
    width: 24%;
    min-height: 100%;
    border: 1px solid $gray ; 
    padding: 3px;
    margin-right: 6px;
    margin-bottom: 16px;
    border-radius: 3px;

    @include breakpoint-down("small"){
        width: 47%;
    }

    &:last-child{
        margin-right: 0px;
    }
    &:nth-child(4n){
        margin-right: 0px !important;
    }

    &:hover {
        border: 1px solid $border ; 
    }


    >div {
        width: 100% ; 
        @include center ;

        &:first-child {
            justify-content: space-between;
            margin-bottom: 5px;

            >p {
                margin-left: auto;
                @include text; 
                font-size: 11px;
                width: 80%;
                font-weight: 600;
            }
        }

        &:last-child {
            flex-direction: column;
            margin-bottom: 10px;

            >p {
                @include text; 
                font-weight: 600;
                margin: 10px 0;
            }

        }
    }
}

