
@import "../../../utils/mixins.scss";
@import "../../../utils/colors.scss";

.baseContainer{
    display: flex;
    padding: 10px ;
    align-items: center;
    justify-content: space-between;
    background-color: $main;
}
.headerContainer{
    padding: 10px ;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 70%;
}



.customButton{
    outline: none;
    border: none;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 110px;
    height: 41px;
    background-color: $second;
    color: $main;
    position: relative;
    z-index: 10;
    &:hover{
        >.showCatalog{
            display: block;
        }
    }
}

.showCatalog {
    position: absolute;
    display: none;
    top:100%;
    left: 0;
}

.loginButton {
    outline: none;
    border: none;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 110px;
    border-radius: 2px;
    background-color: $gray;
    color:$black;

    >svg {
        &:last-child{
            width: 20px;
            height: 15px;
        }
    }

    &:hover{
        color: $second;
    }

    @include breakpoint-down("small"){
        width: 50px;
    }
}
.loginButtonContainer{
    position: relative;
}

.smallModal {
    background-color: $main;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 110px;
}

.loginsignupLinks {
    color: $black; 
    padding: 10px;
    background-color: $main;
    display: flex;
    align-items: center;

    >svg{
        margin-right: 10px;
    }

    &:hover{
        background-color: $subtext;
    }
}